body {
    font-family: 'Inter', sans-serif;
    margin: 0px;

}

.upper {
    position: fixed;
    margin: 0px;
    top: 0px;

    width: 100%;
}

header {
    margin: 0px;
    background-image: url('/img/cover.png');
    background-size: cover;
    background-position: center 25%;
    height: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative; /* CRUCIAL! */
    z-index: 1; /* Ensures content stays on top */
    overflow: hidden; /* Prevents blur from spilling out */    
}

header::before {
    content: ''; /* Required for the pseudo-element to exist */
    position: absolute; /* Position it relative to the 'header' */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Push it behind the header's content */

    /* All background styles are moved here */
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/img/cover.png');
    background-size: cover;
    background-position: center 25%;
    
    /* The blur effect is applied here */
    filter: blur(1px);
}

header h1 {
    margin: 0px;
    margin-right: auto;

    color: whitesmoke;
    margin-left: 20px;

    text-shadow: black 0.1em 0.1em 0.2em;
}


header a {
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;

    font-size: x-large;

    font-weight: bold;
}

header a:hover {
    color: antiquewhite;
    cursor: pointer;
}

.search-bar {
    z-index: 2;
    position: fixed;
    top: 185px;
    left: 8%;

    width: 80%;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-btn {
    margin-left: auto;
    /* border: red solid 2px; */
    background-color: white;
    font-weight: bold;

    
    border: none;
    cursor: pointer;
}

.movie-name-input {
    width: 100%;
    padding: 5px 10px;

    border: none;
    /* border-right: 1px solid #D1D5DB; */
}

.movie-name-input:focus {
    outline: none;
}

#search-icon{
    margin-right: 10px;
    
}

.search-btn {
    cursor: pointer;
}



.movie-container {
    height: 100vh;
    width: 100%;

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: red 2px solid; */
}

.film-icon {    
    margin: auto;
    
    color: #cccccc;
    font-size: 70px;
}


.movie-container {
    margin-top: 240px;
}

.movie-card {
    width: 80%;
    margin: 0px auto;
    padding: 20px 10px;

    height: 200px;
    max-width: 800px;



    display: flex;
    flex-direction: row;
    justify-content: center;

    border-bottom: solid  #cccccc 1px;
}

.movie-card img {
    margin-right: 20px;
    border-radius: 5px;
    width: 150px;
    object-fit: cover;
}

.movie-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.title-and-rating {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-and-rating p {
    margin: 0px;
    padding: 0px;
}

.title-and-rating h2 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.movie-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0px;
    margin-bottom: 10px;
}

.movie-category p {
    margin: 0px;
}

.add-to-wathclist-btn {
    background-color: white;
    border: none;

    cursor: pointer;
}

.desc-text {
    margin: 0px;
    color: #6B7280;
}